body{
    background-color: #efefef;
}

#div_1{
    background-color: white;
    margin: 30px;

}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    height: 40px;
    width: 40px;
}

.text_desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile .section{
    margin-top: 14px;
}