<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../static/css/community.css"/>
    <link rel="stylesheet" href="/static/css/editormd.min.css">

    <script src="../static/js/jquery.min.js" type="application/javascript"></script>
    <script src="../static/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../static/js/community.js" type="application/javascript"></script>
    <script src="../static/js/editormd.amd.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid" id="div_1">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 发起</h3>
            <hr>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}"> <!--每一个问题的标志 id-->
                <div class="form-group">
                    <label for="title">问题标题 (简单扼要)</label>
                    <input type="text" class="form-control" name="title" id="title" th:value="${title}"
                           placeholder="问题标题..." autocomplete="off">
                </div>
                <div class="form-group"  id="question-editor">
                    <label for="description">问题补充 (必填,请参照右侧提示):</label>
                    <textarea class="form-control" name="description" id="description" rows="10"
                              th:text="${description}" style="display: none;">
                    </textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("question-editor", {
                            width  : "100%",
                            height :  350,
                            path   : "../static/js/lib/",
                            delay  :  0,
                            watch  :  false,
                            placeholder : "请输入问题描述"
                        });
                    });
                </script>

                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" name="tag" id="tag" th:value="${tag}"
                           placeholder="输入标签以，号隔开" autocomplete="off" onclick="showSelectTag()">
                    <div id="select-tag" class="publish-tag-tab">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat : ${tags}" th:class="${selectCategoryStat.first? 'active' : ''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" th:id="${selectCategory.categoryName}"
                                th:each="selectCategory : ${tags}"
                                th:classappend="${selectCategoryStat.first? 'active' : ''}">
                                <span class="label label-info" th:each="selectTag : ${selectCategory.tags}">
                                    <span class="glyphicon glyphicon-tag" onclick="selectTag(this)" th:data-tag="${selectTag}"
                                            th:text="${'  '+selectTag}"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <li th:if="${error}!=null">
                            <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
                                 th:text="${error}"></div>
                        </li>

                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-success btn-publish">发起</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            ● 问题标题: 请用精简的语言描述您发布的问题,不超过25字 <br/>
            ● 问题补充: 详细补充您的问题,并确保问题描述清晰直观,并提供一些相关资料:<br/>
            ● 选择标签: 选择一个或者多个合适的标签,用逗号隔开,每个不超过10个字<br/>
        </div>
    </div>
</div>
</body>
</html>